.header {
  background-color: whitesmoke;
  padding: 2em;
  
  grid-area: header;
}
.content{
  background-color: beige;
  padding: 1em;
  margin: 2em;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}
.left-pane{
  display: flex;
  padding-right: 2em;
  flex-direction: column;
  flex-grow: 3;
}
.right-pane{
 flex-grow: 1;
 
}

.top-bar{
  display: flex;
}

.bottom-section{
  display: flex;
}

.container {
  background-color: white;
  padding: 1em;
  margin: 1em;
}
.CurrencyDropdown {
  flex-grow: 1;
  min-width: 1em;
}
.search-bar{
  flex-grow: 3;
  
}
.chart{
  flex-grow: 4;

}
.portfolio{

  flex-grow: 1;
}
.coin-exchange{

  flex-grow: 1;
}

